option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "whitehouse_core.settings"
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_seed:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_db"
    leader_only: true
