option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "whitehouse_core.settings"
    PYTHONPATH: "/var/app/current"
    DATABASE_URL: "postgres://postgres:Pass123456@whitehouse.cbg2euuaan0n.ap-south-1.rds.amazonaws.com:5432/postgres"
    SECRET_KEY: "django-insecure-production-secret-key-2026"
    DEBUG: "False"
    ALLOWED_HOSTS: "*"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_seed:
    command: "source /var/app/venv/*/bin/activate && python manage.py seed_db"
    leader_only: true
