option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "whitehouse_core.settings"
    PYTHONPATH: "/var/app/current"
    DATABASE_URL: "postgres://postgres:Pass123456@whitehouse.cbg2euuaan0n.ap-south-1.rds.amazonaws.com:5432/postgres"
    SECRET_KEY: "django-insecure-production-secret-key-2026"
    DEBUG: "False"
    ALLOWED_HOSTS: "*"
    PORT: "8000"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
